
/*replace existing*/
.social-container {
	overflow-y: scroll;
	overflow-x: hidden;
}

.social-callout {
	font-family: nimbus-sans-extended, sans-serif;
	font-size: 15px;
	line-height: 21px;
	color: #fff;
	width: 353px;
	padding: 17px;
	margin-left: 45px;
	margin-bottom: 30px;
	border: 2px solid #ffcc00;
}

/*replace existing*/
.social-highlight.found {
	border: 2px solid #ffcc00;
}

.social-callouts-container {
	position: absolute;
	top: 13px;
	left: 13px;
	opacity: 0;
}

.shiftcallouts {
	left: 502px;
}

.calloutsIn {
	animation: fade-in 4s;
    -webkit-animation: fade-in 4s;
    -o-animation: fade-in 4s;
    -moz-animation: fade-in 4s;
    opacity: 1;
}

@keyframes fade-in {
	from {opacity: 0;}
	50% {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fade-in {
	from {opacity: 0;}
	50% {opacity: 0;}
	to {opacity: 1;}
}

@-o-keyframes fade-in {
	from {opacity: 0;}
	50% {opacity: 0;}
	to {opacity: 1;}
}

@-moz-keyframes fade-in {
	from {opacity: 0;}
	50% {opacity: 0;}
	to {opacity: 1;}
}

#callout-canvas {
	position: absolute;
	z-index: 3;
}

/*add to existing*/
.button-phish {
	z-index: 2;
}

/*replace social-modal-bg with two below*/
.modal-bg {
	position: relative;
}

.modal-bg-color {
	background-color: #000;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.audiopush {
	animation: push-over 2s;
    -webkit-animation: push-over 2s;
    -o-animation: push-over 2s;
    -moz-animation: push-over 2s;
    margin-left: 503px;
}

@keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}

@-webkit-keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}

@-o-keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}

@-moz-keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}


/* NEW CODE */

.audiocallouts {
	top: 149px;
}
