.top-band {
	position: relative;
	display: block;
	height: 115px;
	width: 100%;

	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(45,45,45,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(45,45,45,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(45,45,45,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(45,45,45,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(45,45,45,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(45,45,45,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */
	
}

.activity-info-box {
	border-radius: 4px;
	box-shadow: 0px 0px 5px 5px rgba(00, 00, 00, 0.1);

	background: rgb(204,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(204,255,255,1) 0%, rgba(245,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,255,255,1)), color-stop(100%,rgba(245,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(204,255,255,1) 0%,rgba(245,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(204,255,255,1) 0%,rgba(245,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(204,255,255,1) 0%,rgba(245,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(204,255,255,1) 0%,rgba(245,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffff', endColorstr='#f5ffff',GradientType=0 ); /* IE6-9 */
}

.social-info-box {
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 13px;
	margin-bottom: 10px;
	width: 317px;
	height: 95px;

	font-family: nimbus-sans-extended, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: #333;
}

.social-info-box p {
	padding: 20px 16px 0 23px;
}

.stat-box {
	float: left;
	position: relative;

	margin-top: 10px;
	margin-left: 13px;
}

.stat-info {
	color: #ccffff;
	font-size: 38px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50px;
}

.social-content {
	margin-top: 13px;
	margin-left: 13px;
	width: 476px;
	position: relative;
	float: left;
}

.button.button-social {
	display: block;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 33px;
}

.social-modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.7;

}

.button-phish {
	position: absolute;
	top: 10px;
	right: 10px;
}

.audio-content {
	margin-left: 263px;
}

.button-trust {
	position: absolute;
	top: 10px;
	left: 212px;
}

.button-dont-trust {
	position: absolute;
	top: 10px;
	right: 10px;
}

.audio-box {
	width: 100%;
	height: 125px;
	margin-bottom: 11px;

	color: #cdffff;
	font-size: 20px;
}

.audio-box p {
	padding-top: 27px;
	padding-left: 24px;
}

.audio-player {
	position: absolute;
	top: 60px;
	left: 24px;
	width: 428px;
}

.activity-content-box {
	border-radius: 4px;

	background: rgb(51,102,153); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(51,102,153,1) 0%, rgba(28,61,99,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,102,153,1)), color-stop(100%,rgba(28,61,99,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(51,102,153,1) 0%,rgba(28,61,99,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(51,102,153,1) 0%,rgba(28,61,99,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(51,102,153,1) 0%,rgba(28,61,99,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(51,102,153,1) 0%,rgba(28,61,99,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336699', endColorstr='#1c3d63',GradientType=0 ); /* IE6-9 */
}

.socialcorrect {
	animation: fade-out 2s;
    -webkit-animation: fade-out 2s;
    -o-animation: fade-out 2s;
    -moz-animation: fade-out 2s;
    opacity: 0;
}

@keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}

@-webkit-keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}

@-o-keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}

@-moz-keyframes fade-out {
	from {opacity: 1;}
	to {opacity: 0;}
}

.phish-stamp {
	position: absolute;
	top: -4px;
	right: -4px;
}

.trust-stamp {
	position: absolute;
	top: 132px;
	right: -4px;
}

.button-social-next {
	position: absolute;
	top: 42px;
	left: 857px;
}


/*SLIDE AUDIO RIGHT*/

.audiopush {
	animation: push-over 2s;
    -webkit-animation: push-over 2s;
    -o-animation: push-over 2s;
    -moz-animation: push-over 2s;
    margin-left: 503px;
}

@keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}

@-webkit-keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}

@-o-keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}

@-moz-keyframes push-over {
	from {margin-left: 263px;}
	to {margin-left: 503px; }
}