<html lang="en" class="js no-touch audio svg inlinesvg wf-nimbussansextended-n4-active wf-nimbussansextended-n7-active wf-active"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}</style>
    <title>Cyber Lab | NOVA Labs | PBS</title>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">



    <script>
        var STATIC_URL = '/static/';        
    </script>

    <link rel="stylesheet" type="text/css" media="all" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/main.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/activity.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/chelsea.css">
    <link rel="stylesheet" type="text/css" media="all" href="css/callout.css">


    <link rel="stylesheet" type="text/css" media="all" href="css/cyber/styles.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    
    <script type="text/javascript" src="js/main.js"></script>
    <script src="js/raphael-min.js"></script>
    <script src="js/callouts.js"></script>
    <script src="js/cyber/all.js"></script>
    <script src="js/cyber/social.js"></script>

</head>

<body class="activity"> 

    <div class="activity-shell">
        <div class="activity-header">
            <div id="activity-nav" class="dropdown">
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        
                        <li><a href="/lab/sun/">Sun Lab</a></li>
                        
                        <li><a href="/lab/energy/">Energy Lab</a></li>
                        
                        <li><a href="/lab/cloud/">Cloud Lab</a></li>
                        
                        <li><a href="/lab/rna/">RNA</a></li>
                        
                        <li><a href="/lab/cyber/">Cyber</a></li>
                        
                        <li><a href="/upcoming/">Upcoming Labs</a></li>
                    </ul>
                    <ul>
                        <li>
                        <a href="/about/">About</a>
                        </li>
                        <li>
                        <a href="/scientists/">Meet Scientists</a>
                        </li>
                        <li>
                        <a href="/get-involved/">Opportunities</a>
                        </li>
                        <li>
                        <a href="/educators/">Educators</a>
                        </li>
                        <li>
                        <a href="/social/">Social</a>
                        </li>
                        <li>
                        <a href="/videos/">Videos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grey-vrule"></div>
            <div class="user-icon"><img class="avatar" height="44" width="44" src="/media/profile/avatars/generic-avatar_1.png" alt="NOVA Labs avatar"></div>
            <div class="user-info">
                <p class="user-name">Guest User</p>
                <p class="user-rank">Points: <span id="user-points"></span></p>
            </div>
            <div class="grey-vrule"></div>

            <!-- here be progress -->
            <div class="progress-bar">
                <p>progress</p>
                <div id="progress-bar">
                    <div id="progress-complete" style="width: 0%;"></div>
                </div>
            </div>

            <p class="funder">
                
                
                
            </p>
        </div>
        <div class="activity-content">
            

<div ng-app="cyberApp" id="ng-app" class="ng-scope">
    <div ui-view=""><div class="top-user-status ng-scope company-logo-2" ng-class="&quot;company-logo-&quot; + user.company">

    <div class="label user-label">
        Users
        <span class="value ng-binding">672</span>
    </div>

    <div class="label level-label">
        <div>Level</div>
        <!-- ngRepeat: n in [] | range:3 --><div ng-repeat="n in [] | range:3" ng-class="{first:$index==0, done: progress.highest_level > $index}" class="level-value ng-scope first"></div><!-- end ngRepeat: n in [] | range:3 --><div ng-repeat="n in [] | range:3" ng-class="{first:$index==0, done: progress.highest_level > $index}" class="level-value ng-scope"></div><!-- end ngRepeat: n in [] | range:3 --><div ng-repeat="n in [] | range:3" ng-class="{first:$index==0, done: progress.highest_level > $index}" class="level-value ng-scope"></div><!-- end ngRepeat: n in [] | range:3 -->
    </div>

</div>

<!-- ng-show="puzzle_data.instructions" -->


<!-- <div ng-show="puzzle_state.complete" class="ng-scope ng-hide">  
    <div class="mockup two-col-cyber ng-binding">
        stars earned: 0 <br>
        <span ng-show="puzzle_state.stars>0 &amp;&amp; newly_completed" class="ng-binding ng-hide">You gained  1000 users</span><br>
        <button ng-click="replay()">replay</button><span ng-show="puzzle_state.stars == 0" class="">You have to get at least one star to continue</span>
        <button ui-sref="corp.chooser">Challenges</button>
        <button ng-show="puzzle_state.stars > 0 &amp;&amp; puzzle_id%3 != 0" ui-sref="corp.challenge.social({level:level_id, puzzle:puzzle_id_next})" class="ng-hide">Next</button>
    </div>
</div> -->

<div class="top-band">  

    <div class="activity-info-box social-info-box">
        <p>One of these emails is a phishing email. First, click on the differences between the two emails.<!--  (level 1) --></p>
    </div>

    <div class="stat-box">
        <img src="images/cyber/social/differences-found-carrier.png">
        <div class="stat-info">0/5</div>
    </div>

    <div class="stat-box">
        <img src="images/cyber/social/clicks-remaining-carrier.png">
        <div class="stat-info">10</div>
    </div>

    <button class="button button-orange button-social-next">Next</button>
</div>

<div class="social-container">

    


    <div id="callout-canvas"></div>    

    <!-- ngRepeat: phish in puzzle_data.phish  audio-content-->

    <div class="social-content"> 

        <!-- <div class="audio-box activity-content-box">
            <p>Listen:</p>
            <audio class="audio-player" controls="" src="audio/cyber/trip_to_space.mp3"></audio>
        </div> -->

        <img onmousedown="return false;" ondragstart="return false;" src="images/cyber/social/emailgroup01-email01.png" alt="images/cyber/social/emailgroup01-email01.png"><br> 
       <!--  <button class="button button-orange button-phish">phish</button> -->
       <img src="images/cyber/social/phish-stamp.png" class="phish-stamp">
       <!-- <img src="images/cyber/social/donttrust-stamp.png" class="trust-stamp"> -->

        <div>
            <!-- <p class="">Select the phishing email.</p> -->
            <!-- <button class="button button-orange button-trust">Trust</button>
            <button class="button button-orange button-dont-trust">Don't Trust</button> -->
        </div>

        <!-- ngRepeat: hl in puzzle_data.diffs --><div class="social-highlight found" style="left:
        17px;top:13px;width:141px;height:23px;">
            
        </div><!-- end ngRepeat: hl in puzzle_data.diffs --><div class="social-highlight found" style="left:
        22px;top:100px;width:404px;height:33px;">
            
        </div><!-- end ngRepeat: hl in puzzle_data.diffs --><div class="social-highlight found" style="left:
        142px;top:148px;width:195px;height:18px;">
            
        </div><!-- end ngRepeat: hl in puzzle_data.diffs --><div ng-click="highlight_click($index)" ng-repeat="hl in puzzle_data.diffs" ng-class="{found: hl.found}" class="social-highlight ng-scope" style="left:
        49px;top:238px;width:129px;height:15px;">
            
        </div><!-- end ngRepeat: hl in puzzle_data.diffs --><div ng-click="highlight_click($index)" ng-repeat="hl in puzzle_data.diffs" ng-class="{found: hl.found}" class="social-highlight ng-scope" style="left:
        20px;top:263px;width:215px;height:24px;">
            
        </div><!-- end ngRepeat: hl in puzzle_data.diffs -->

    </div>

    <div class="social-content">

        <img class="socialcorrect" onmousedown="return false;" ondragstart="return false;" src="images/cyber/social/emailgroup01-email01.png" alt="images/cyber/social/emailgroup01-email01.png"><br> 

        <div class="social-callouts-container calloutsIn"> 

            <!-- <div class="audio-box activity-content-box">
                <p>Listen:</p>
                <audio class="audio-player" controls="" src="audio/cyber/trip_to_space.mp3"></audio>
            </div> -->

            <!-- <img  onmousedown="return false;" ondragstart="return false;" src="images/cyber/social/emailgroup01-email01.png" alt="images/cyber/social/emailgroup01-email01.png"><br>  -->
           <!--  <button class="button button-orange button-phish">phish</button> -->
           <!-- <img src="images/cyber/social/phish-stamp.png" class="phish-stamp"> -->
           <!-- <img src="images/cyber/social/donttrust-stamp.png" class="trust-stamp"> -->

            <div>
                <!-- <p class="">Select the phishing email.</p> -->
                <!-- <button class="button button-orange button-trust">Trust</button>
                <button class="button button-orange button-dont-trust">Don't Trust</button> -->
            </div>

            <!-- ngRepeat: hl in puzzle_data.diffs -->

            <div class="social-callout">
                There is no padlock or https, so this is not a secure website
            </div>

            <div class="social-callout">
                The logo is low resolution and out of date.
            </div>

            <div class="social-callout">
                This is the wrong font. This is a poor copy of the original website, which is a common clue for phishing websites.
            </div>


        </div>

    </div>



    

    <!-- TODO: conbine these two into one --> 
    <div class="social-modal-bg"></div>
    <div class="social-modal info-box">
        You found all five differences! Now identify the phishing email
        <button class="button button-orange button-social">Next</button>
    </div>
<!-- 
    <div class="social-modal info-box">
        You have run out of clicks. Now identify the phishing email.
        <button class="button button-orange button-social">Next</button>
    </div>

    <div class="social-modal info-box">
        <span >Well done, you identified the phish! </span><span>You picked the wrong one! </span>Now read about the differences that show it is a fake.
        <button class="button button-orange button-social">Next</button>
    </div> -->
    

</div>




<!-- <div class="mockup two-col-cyber floating ng-scope">
    highlight dimensions: <a href="" ng-click="calibrate()">calibrate x,y position</a> | <a href="" ng-click="puzzle_state.highlight_json='click and drag to select the highlight areas for this image. You will see the dimensions appear below. After you are done, then copy them from this display and send them to your developer.'">clear</a>
    <p class="ng-binding"></p>
</div> -->





</div>



</div>







</body></html>