<div ng-hide="narrativeDone" narrative-modal="narrativeSlug"></div>

<div ng-show="puzzle_state.complete" style="position:absolute; z-index:21">	
	<div class='mockup two-col-cyber'>
		stars earned: {{puzzle_state.stars}} <br>
		<span ng-show="puzzle_state.stars>0 && newly_completed">You gained {{}} {{aUsersGained[level_id-1]}} users</span><br>
		<button ng-click="replay()">replay</button><span ng-show="puzzle_state.stars == 0" >You have to get at least one star to continue</span>
		<button ui-sref='corp.chooser'>Challenges</button>
		<button ng-show="puzzle_state.stars > 0 && puzzle_id%3 != 0" ui-sref='corp.challenge.{{challenge}}({level:level_id, puzzle:puzzle_id_next})'>Next</button>
	</div>
</div>
	
<div class="modal-bg">
	<div ng-show="puzzle_data.instructions" class="top-band">	
			<div class="activity-info-box social-info-box">
				<p>{{puzzle_state.objective}}</p>
			</div>
		
			<div ng-hide="puzzle_state.fake_complete">
				<div class='stat-box'>
					<img src="../../static/images/cyber/social/differences-found-carrier.png">
					<div class="stat-info">{{puzzle_state.user_diffs_found}} / {{puzzle_state.clicks_to_complete}}</div>
				</div> <!-- TO DO: create variable to store differences found -->

				<div class='stat-box'>
					<img src="../../static/images/cyber/social/clicks-remaining-carrier.png">
					<div class="stat-info">{{puzzle_state.user_click_max - puzzle_state.user_clicks}}</div>
				</div>
			</div>

			<!-- TODO add click functionality-->
			<button ng-show="phish.fake && (puzzle_state.complete || puzzle_state.fake_complete)" class="button button-orange button-social-next">Next</button>
	</div>

	<div class="social-container">

		<div ng-repeat="phish in puzzle_data.phish" ng-class="{audiocontent:puzzle_data.type=='audio', socialcorrect: !phish.fake && (puzzle_state.complete || puzzle_state.fake_complete), audiopush:puzzle_data.type=='audio' && (puzzle_state.complete || puzzle_state.fake_complete)}" class="social-content">

			<div ng-show="puzzle_data.type=='audio'" class="audio-box activity-content-box">
				<p>Listen:</p>
	            <audio class="audio-player" controls="" src="../../static/audio/cyber/trip_to_space.mp3"></audio>
			</div>

			<img onmousedown='return false;' ondragstart='return false;' ng-click="wrong_click()" src="{{phish.gfx}}" alt="{{phish.gfx}}"/><br> 
			<button ng-show="puzzle_state.fake_start && puzzle_data.type!='audio'" ng-click="select_fake($index)" class="button button-orange button-phish">phish</button>
			<img src="../../static/images/cyber/social/phish-stamp.png" class="phish-stamp" ng-show="phish.fake && puzzle_data.type!='audio' && (puzzle_state.complete || puzzle_state.fake_complete)">
			<img src="../../static/images/cyber/social/donttrust-stamp.png" class="trust-stamp" ng-show="phish.fake && puzzle_data.type=='audio' && (puzzle_state.complete || puzzle_state.fake_complete)">

			<div ng-show="puzzle_state.fake_start && puzzle_data.type=='audio'">
				<button ng-click=select_audio_fake(false) class="button button-orange button-trust">Trust</button>
				<button ng-click=select_audio_fake(true) class="button button-orange button-dont-trust">Don't Trust</button>
			</div>

			<div ng-click="highlight_click($index)" ng-hide="!phish.fake && (puzzle_state.complete || puzzle_state.fake_complete)" ng-repeat="hl in puzzle_data.diffs[$index]" ng-class="{found: hl.found || puzzle_state.complete  }" class="social-highlight" style="left:
			{{hl.x}}px;top:{{hl.y}}px;width:{{hl.w}}px;height:{{hl.h}}px;">	
			</div>
		</div>

		<div class="social-callouts-container" ng-class="shiftcallouts: puzzle_data.type!='audio' && puzzle_data.phish[0].fake, calloutsIn: !phish.fake && (puzzle_state.complete || puzzle_state.fake_complete)">
			<div class="social-callout" ng-repeat="co in puzzle_data.callouts">{co.text}</div>
		</div>
	</div>

	<!-- TODO: combine these two into one --> 

		<div class="modal-bg-color" ng-show="((puzzle_state.diff_complete || puzzle_state.diff_failed) && !puzzle_state.fake_start && !puzzle_state.complete) || puzzle_state.fake_complete"></div>

		<div class="social-modal info-box" ng-show="puzzle_state.diff_complete && !puzzle_state.fake_start && !puzzle_state.complete">
			{{puzzle_data.interstitial_complete}}
			<button ng-click="start_fake()" class="button button-orange button-social">Next</button>
		</div>

		<div class="social-modal info-box" ng-show="puzzle_state.diff_failed && !puzzle_state.fake_start && !puzzle_state.complete">
			{{puzzle_data.interstitial_failed}}
			<button ng-click="start_fake()" class="button button-orange button-social">Next</button>
		</div>

		<div class="social-modal info-box" ng-show="puzzle_state.fake_complete">
			<span ng-show="puzzle_state.fake_pass">{{puzzle_data.whyafake_pass}}</span><span ng-hide="puzzle_state.fake_pass">{{puzzle_data.whyafake_failed}}</span>{{puzzle_data.whyafake}}
			<button ng-click="end_fake()" class="button button-orange button-social">Next</button>
		</div>
</div>


<div class='mockup two-col-cyber floating'>
	highlight dimensions: <a href="" ng-click="calibrate()">calibrate x,y position</a> | <a href="" ng-click="puzzle_state.highlight_json='click and drag to select the highlight areas for this image. You will see the dimensions appear below. After you are done, then copy them from this display and send them to your developer.'">clear</a>
	<p>{{puzzle_state.highlight_json}}</p>
</div>